<div id="job_info">
<img ng-src="{{job.image}}" width="150" />
<p>Должность: {{job.post}}</p>
<p>Время работы: {{work_start | date:'dd.MM.yyyy'}} - {{work_end | date:'dd.MM.yyyy'}}</p>
<p>Проекты:
<ul>
<li ng-repeat="resp in job.responsibility">
 <img ng-src="{{resp.image}}" width="30"/>
 <span class="resp_title text-muted"> {{resp.name}}</span><br>
 <ul>
 <li ng-repeat="line in resp.core">{{line}}</li>
 </ul><br>
<p><div class="tech_container"><span class="pull-left">Технологии: </span>
 <span class="badge" ng-repeat="tec in resp.tech">{{tec}}</span></div>
</p>
<p class="text-muted">{{resp.comment}}</p>
</li>
</ul>
</p>

</div>