<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-resource.js"></script>
	<script src="js/lib/angular-route.js"></script>
	<script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>





<body ng-app="rezumeApp">
<div class="container" ng-controller="WorkerCtrl">
	<div class="worker" >
		<div class="header">
			<h3 class="text-muted">{{worker.name}}</h3>
		</div>
		<div class="jumbotron" ng-view>
			
		</div>
		Предыдущие места работы: <span class="pull-right">Сортировка: <select ng-model="orderProp">
									<option value="lifetime.start">Время по нарастанию</option>
									<option value="-lifetime.start">Время по убыванию</option>
								 </select></span>
		<div class="row marketing">
			<div class="col-lg-{{jobs.length}}">

            <div class="w_place" ng-repeat="job in jobs | orderBy:orderProp" ng-click="showInfo(job.id)">
              <img ng-src="{{job.image}}" width="50" />
              <h4>{{job.name}} <a class="btn btn-small">Подробнее</a></h4>
              <p>{{job.post}} </p>
            </div>

</div>
		
		</div>

		<div class="footer"><a href="mailto:{{worker.mail}}">{{worker.mail}}</a></div>
	</div>
	
			
</div>

<div id="dop_info">
Данное резюме написано на AngularJS, как способ продемонстрировать свои навыки.
Реализован роутинг, несколько модулей и контроллеров. Для получения данных используются сервисы.
Данные отдаются сервером в формате JSON (в т.ч. url изображений).<br>
Исходный код: <a href="https://github.com/PaulSmith220/rezume" target="_blank">https://github.com/PaulSmith220/rezume</a>
</div>
</boDy>
</html>